@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Asap, sans-serif;
  background-image: linear-gradient(
    to bottom,
    #ffd3bf,
    #ffc6b7,
    #ffb9b3,
    #ffacb3,
    #ffa0b6,
    #ff97b9,
    #ff8ebd,
    #ff85c4,
    #ff7cc8,
    #ff72ce,
    #ff69d4,
    #fd60db
  );
}

header {
  background: white;
  padding: 20px;
}

header > h1 {
  color: #24272E;
  text-align: center; 
}

.score-board {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  width: 250px;
  color: white;
  font-size: 46px;
  padding: 15px 20px;
  position: relative;
}

.badge {
  background: #66CDAA;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}

#robo-label {
  position: absolute;
  top: 30px;
  right: -30px;
}

.result {
  font-size: 40px;
  color: white;
}

.result > p {
  text-align: center;
  font-weight: bold;
}

.choices {
  margin: 50px 0;
  text-align: center;
}

.choice {
  border: 4px solid white;
  border-radius: 50%;
  margin: 0 15px;
  padding: 20px;
  display: inline-table;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: #FFFACD;
}

#result
{
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: center;
}
#result #userScore, #roboScore
{
  height: 150px;
  width: 100px;
}

#result #userScore i, #roboScore i
{
  height: 100px;
  width: 100px;
  background: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 40px;
  color: black;
}

#result #userScore h3, #roboScore h3
{
  text-align: center;
  margin: 10px;
  font-size: 30px;
  color: black;
}
#result #resultText
{
  height: 150px;
  width: 200px;
  font-size: 30px;
  color: black;
  display: grid;
  place-items: center;  
}
#action-message {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.user{
  width: 400px;
  height: 150px;
  margin: 100px auto 0;
  background: pink;
  border-radius: 5px;
  padding: 25px 40px;
  position: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}


.game{
  width: 400px;
  height: 300px;
  margin: 100px auto 0;
  background: #00BFFF;
  border-radius: 5px;
  padding: 25px 40px;
  position: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  overflow-y: scroll;
}

.gamename{
  width: 400px;
  height: 300px;
  margin: 100px auto 0;
  background: #00BFFF;
  border-radius: 5px;
  padding: 25px 40px;
  position: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  overflow-y: scroll;
}
